<!DOCTYPE html>

<html lang="es-AR" xmlns:th="http://www.thymeleaf.org" class="h-100">

<head th:replace="/fragments/head :: head"></head>

<body class="d-flex flex-column h-100">
  <div th:replace="/fragments/navbar :: barra"></div>

  <main class>
    <div class="container container-fluid">
      <form th:action="@{/prestamos/devolver}" method="POST" th:object="${prestamo}">

        <div class="col-6 mt-2 mx-auto">
          <div class="row">
            <input type="text" hidden th:field="*{id}">
            <input hidden th:value="${prestado}" name="prestado">
          </div>
          <div class="row mt-2">
            <select th:field="*{cliente}" class="form-select" aria-label="Cliente">
              <option selected value="">Cliente</option>
              <option th:each="c : ${clientes}" th:text="${c.nombre} + ' ' + ${c.apellido}" th:value="${c.id}"></option>
            </select>
          </div>
          <div class="row mt-2">
            <input type="text" class="form-control" th:field="*{libro}" placeholder="Libro" aria-label="Libro">
          </div>
          <div class="row mt-2">
            <button type="submit" class="btn btn-warning mt-2">Devolver</button>
          </div>
        </div>
      </form>
    </div>
  </main>


  <div th:replace="/fragments/footer :: footer"></div>
  <div th:replace="/fragments/scriptsBS :: scriptsBS"></div>
</body>

</html>